
body {
  background-color: black;
}

#board {
  top: 200px;
  width: 720px;
  height: 480px;
  border: 1px solid lime;
  background-color: black;
  position: relative;
  margin: auto;
}
#centerLine {
  left: 359px;
  border: 1px dashed lime;
  height:479px;
  position:absolute;
}
.paddle {
  width: 25px;
  height: 100px;
  border-radius: 15px;
  position: absolute;
}
#leftPaddle {
  border: 2px solid lime;
  background-color: black;
  left: 10px;
  top: 180px;
}
#rightPaddle {
  border: 2px solid lime;
  background-color: black;
  left: 685px;
  top: 180px;
}
#ball {
  border: 3px solid lime;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 330px;
  top: 210px;
}
#score1 {
  color: white;
  font-size: 40px;
  left: 50px;
  top: 210px;
  position: absolute;
}
#score2 {
  color: white;
  font-size: 40px;
  left: 650px;
  top: 210px;
  position: absolute;
}
#winMessage {
  color: white;
  font-size: 40px;
  left: 200px;
  top: 210px;
  position: absolute;
}
#endGameButton {
  width: 100px;
  height: 20px;
  position: absolute;
  left: 320px;
  top: 310px;
  opacity: 0;
}